/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Inconsolata);

@font-face {
    font-family: "Nitti Grotesk";
    src: url(fonts/nittigrotesk-normal.otf) format('opentype');
}

@font-face {
    font-family: "Nitti Grotesk Bold";
    src: url(fonts/nittigrotesk-bold.otf) format('opentype');
}

@font-face {
    font-family: "Apercu Pro";
    src: url(fonts/apercu_mono_pro.ttf);
}

/* HTML elements */
body {
	background-color: #fdfdfd;
}
::selection {
    background-color: #384dd8;
    color: #8a94d3;
}
hr {
	border: none;
	height: 1px;
	background: -webkit-linear-gradient(left, #ffffff 0%, #d9d9d9 5%, #bcbcbc 50%, #d8d8d8 95%, #ffffff 100%);
}

/* Header */
.header {
	background-color: rgba(255, 255, 120, 0.95);
    position: fixed;
    width: 100%;
    height: auto;
    padding: 2px 0px 8px 0px;
    z-index: 1000;
   	text-align: center;
   	-webkit-animation: fadeInDown 0.5s;
   	-webkit-transition: all 0.3s ease-out;
   	box-shadow: 0px 0px 15px 4px rgba(200, 200, 200, 0.3);
   	border-radius: 1px;
}
.logo {
	font-family: Nitti Grotesk, sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
	text-align: center;
	-webkit-animation: slideInDown 1s;
}
.navlinks {
	display: inline-block;
	margin-top: 5px;
	font-family: Apercu Pro, sans-serif;
	font-size: 16px;
	-webkit-animation: slideInDown 1s;
}
.navlinks > a {
	display: inline-block;
	min-width: 105px;
	padding: 4px;
	margin-right: -10px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	border-left: 2px solid black;
	color: black;
	text-decoration: none;
	-webkit-transition: all 0.2s ease-out;
}
.navlinks > a.left {
	border-radius: 3px 0px 0px 3px;
}
.navlinks > a.right { 
	border-radius: 0px 3px 3px 0px;
	border-right: 2px solid black;
	margin-right: 10px;
}
.navlinks > a:hover {
	color: #ffffff;
	background-color: black;
	-webkit-transition: all 0.2s ease;
}
.navlinks > a:active {
	color: #9b9b9b;
	background-color: #353535;
	-webkit-transition: all 0.2s ease-in;
}
.maincontainer {
	height: 100%;
}
/* Custom classes */
.mkcontainer {
    padding: 64px;
    top: 20px;
    position: relative;
    -webkit-animation: fadeIn 0.2s;
   	-webkit-transition: all 0.2s ease-out;
}

a.title {
	text-decoration: none;
    font-family: Nitti Grotesk Bold, sans-serif;
    margin-top: 20px;
    font-size: 32px;
    letter-spacing: 0px;
    color: #0682e0;
}
.mktext {
    font-family: Inconsolata;
    font-size: 20px;
    line-height: 1.5em;
    text-align: justify;
	-webkit-transition: all 0.2s ease-in;
}

/* Mobile responsiveness */
@media(max-width: 600px) {
    .header {
	    -webkit-animation: rubberBand 0.6s;
    }
    .logo {
		font-size: 18px;
		-webkit-animation: slideInDown 1s;
	}
    .navlinks {
	   	margin-top: 2px;
		-webkit-animation: slideInDown 1s;
    }
    .navlinks > a {
	   border-width: 1px;
	   padding: 4px 8px 4px 8px;
	   font-size: 14px;
	   min-width: 50px;
    }
    .navlinks > a.right {
	   border-width: 1px;
    }
    .mkcontainer {
	    top: 35px;
	    padding: 40px;
    }
    a.title {
	    font-size: 28px;
    }
    .mktext {
	    font-size: 19px;
    }
}