@import url(http://fonts.googleapis.com/css?family=Inconsolata);
/* Variables */
/* Mixins */
/* Fonts */
@font-face {
  font-family: "Nitti Grotesk";
  src: url(fonts/nittigrotesk-normal.otf) format('opentype'); }

@font-face {
  font-family: "Nitti Grotesk Bold";
  src: url(fonts/nittigrotesk-bold.otf) format('opentype'); }

@font-face {
  font-family: "Apercu";
  src: url(fonts/apercu_mono_pro.ttf) format('truetype'); }

/* HTML elements */
body {
  background-color: #fdfdfd; }

::selection {
  background-color: #384dd8;
  color: #8a94d3; }

hr {
  border: none;
  height: 1px;
  background: -webkit-linear-gradient(left, #ffffff 0%, #d9d9d9 5%, #bcbcbc 50%, #d8d8d8 95%, #ffffff 100%); }

/* Header */
.header {
  position: fixed;
  width: 100%;
  height: auto;
  padding: 1px 0px 8px 0px;
  z-index: 0;
  text-align: center;
  box-shadow: none;
  border-radius: 1px;
  -webkit-animation: fadeInDown 0.5s;
  animation: fadeInDown 0.5s;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-user-select: none; }

.logo {
  font-family: Nitti Grotesk, sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  text-align: center; }

.navlinks {
  display: inline-block;
  margin-top: 2px;
  font-family: Apercu, sans-serif;
  font-size: 16px;
  -webkit-animation: slideInDown 1s;
  animation: slideInDown 1s; }

.navlinks > a {
  display: inline-block;
  min-width: 105px;
  padding: 4px;
  margin-right: -10px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  color: black;
  text-decoration: none;
  cursor: default;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }

.navlinks > a.left {
  border-radius: 4px 0px 0px 4px; }

.navlinks > a.right {
  border-radius: 0px 4px 4px 0px;
  border-right: 2px solid black;
  margin-right: 10px; }

.navlinks > a:hover {
  color: #ffffff;
  background-color: black;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.navlinks > a:active {
  color: #9b9b9b;
  background-color: #353535;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }

/* Containers */
.container-fluid {
  padding: 0px; }

.row {
  margin-left: 0;
  margin-right: 0; }

.mkcontainer {
  top: 75px;
  position: relative;
  border-radius: 1px;
  -webkit-animation: fadeIn 0.2s;
  animation: fadeIn 0.2s; }

.contentcontainer, .proj-container, .design-container, .abt-container {
  position: relative;
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.4); }

.pre {
  text-align: center;
  font-size: 100px;
  text-shadow: 0px 0px 50px #858585;
  height: 95vh;
  background-size: cover;
  background-attachment: fixed; }

.pre-proj {
  background-image: url(images/isolatedrain.jpg); }

.proj-container {
  padding: 10px 32px 32px 32px;
  background-color: #5b8d90; }

.pre-design {
  background-image: url(images/likemars.jpg); }

.design-container {
  padding: 32px;
  background-color: steelblue; }

.pre-abt {
  background-image: url(images/meteor.jpg); }

.abt-container {
  padding: 32px;
  background-color: darkmagenta; }

/* Custom classes */
a.title {
  text-decoration: none;
  font-family: Nitti Grotesk Bold, sans-serif;
  color: white;
  margin-top: 20%;
  display: inline-block; }

.mktext {
  font-family: Karla;
  color: white;
  font-size: 18px;
  line-height: 1.5em;
  text-align: justify;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }

/* Responsive classes for mobile */
@media (max-width: 600px) {
  .header {
    -webkit-animation: rubberBand 0.6s;
    animation: rubberBand 0.6s; }

  .logo {
    font-size: 18px;
    -webkit-animation: slideInDown 1s;
    animation: slideInDown 1s; }

  .navlinks {
    margin-top: 2px;
    -webkit-animation: slideInDown 1s;
    animation: slideInDown 1s; }

  .navlinks > a {
    border-width: 1px;
    padding: 4px 8px 4px 8px;
    font-size: 14px;
    min-width: 50px; }

  .navlinks > a.right {
    border-width: 1px; }


  .pre {
    height: 300px;
    font-size: 60px;
    text-shadow: 0px 0px 40px #161616;
    -webkit-animation: fadeIn 0.2s;
    animation: fadeIn 0.2s; }

  .mktext {
    font-size: 19px; }
 }
