/* Variables */

@import url(http://fonts.googleapis.com/css?family=Inconsolata);
@import url(http://fonts.googleapis.com/css?family=Pacifico&text=hi!);

$bodyFont: Apercu;
$contentPad: 32px;

/* Mixins */

@mixin animation($name, $time) {
    -webkit-animation: $name $time;
    animation: $name $time;
}

@mixin transition($time, $ease) {
    -webkit-transition: all $time $ease;
    transition: all $time $ease;
}

@mixin noselect() {
	-webkit-user-select: none;
    user-select: none;
}

/* Fonts */

@font-face {
    font-family: "Nitti Grotesk";
    src: url(fonts/nittigrotesk-normal.otf) format('opentype');
}

@font-face {
    font-family: "Nitti Grotesk Bold";
    src: url(fonts/nittigrotesk-bold.otf) format('opentype');
}

@font-face {
    font-family: "Apercu";
    src: url(fonts/apercu_mono_pro.ttf) format('truetype');
}

/* HTML elements */

body {
    background-color: #373737;
}

::selection {
    background-color: #384dd8;
    color: #8a94d3;
}

hr {
    border: none;
    height: 1px;
    background: -webkit-linear-gradient(left, #ffffff 0%, #d9d9d9 5%, #bcbcbc 50%, #d8d8d8 95%, #ffffff 100%);
}

/* Header */

.header {
    position: fixed;
    width: 100%;
    height: auto;
    padding: 1px 0px 8px 0px;
    z-index: 0;
    text-align: center;
    box-shadow: none;
    border-radius: 1px;
    background-color: rgba(255, 255, 255, 1);
    @include animation(fadeInDown, 0.5s);
    @include transition(0.3s, ease-out);
	@include noselect();
	
}

.logo {
    font-family: Nitti Grotesk, sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
}

.navlinks {
    display: inline-block;
    margin-top: 3px;
    font-family: Apercu, sans-serif;
    font-size: 16px;
    @include animation(slideInDown, 1s);
}

.navlinks > a {
    display: inline-block;
    min-width: 105px;
    padding: 4px;
    margin-right: -10px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    color: black;
    text-decoration: none;
    cursor: default;
    @include transition(0.2s, ease-out);
}

.navlinks > a.left {
    border-radius: 4px 0px 0px 4px;
}

.navlinks > a.right {
    border-radius: 0px 4px 4px 0px;
    border-right: 2px solid black;
    margin-right: 10px;
}

.navlinks > a:hover {
    color: #ffffff;
    background-color: black;
    @include transition(0.2s, ease);
}

.navlinks > a:active {
    color: #9b9b9b;
    background-color: #353535;
    @include transition(0.2s, ease-in);
}

/* Containers */

.container-fluid {
    padding: 0px;
}
.row {
    margin-left: 0;
    margin-right: 0;
}
.mkcontainer {
    top: 74px;
    position: relative;
    border-radius: 1px;
    overflow-x: hidden !important;
    @include animation(fadeIn, 0.2s);
    
}
.contentcontainer {
	z-index: 10;
	position: relative;
	//border-radius: 1px;
    //box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.4);
}
.pre {
	text-align: center;
	font-family: Nitti Grotesk Bold, sans-serif;
	font-size: 100px;
	text-shadow: 0px 0px 50px rgba(0, 0, 0, 0.6);
	height: 50vh;
	line-height: 50vh;
	background-size: cover;
	background-attachment: fixed;
	@include noselect();
}
.pre-hello-container {
	overflow: hidden;
}
.pre-hello {
	height: 100vh;
	line-height: 90vh;
	font-family: Pacifico;
	background-image:url(images/bg.jpg);	
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
/*
	-webkit-filter: brightness(20%);
	filter: brightness(20%);
*/
	@include noselect();
}
.pre-proj {
	background-image:url(images/isolatedrain.jpg);	
}
.proj-container {
	@extend .contentcontainer;
	font-family: $bodyFont;
    color: rgba(255, 255, 255, 0.6);
    font-size: 18px;
    line-height: 1.5em;
	text-align: center;
	min-height: 90vh;
    padding: 20px $contentPad $contentPad $contentPad;
}

//Individual Projects
.proj-teams {
	background-color: #332577;
}
.proj-tetris {
	background-color: #287038;
}
.proj-shipwars {
	background-color: #793e38;
}
.proj-spark {
	background-color: #173463;
}
.proj-lelivre {
	text-align: left;
	background-color: #286458;
}
.proj-stockr {
	text-align: right;
	background-color: #625a4c;
}
.proj-zones {
	background-color: #5d2f64;
}
.proj-mknet {
	background-color: #334c72;
}
.proj-aflame {
	background-color: #C62828;
}

.pre-design {
	background-image:url(images/rain.jpg);	
}
.design-container {
	@extend .contentcontainer;
    padding: $contentPad;
    background-color: steelblue;

}
.pre-abt {
	background-image:url(images/meteor.jpg);	
}
.abt-container {
	@extend .contentcontainer;
    padding: $contentPad;
    background-color: #42547a;
    color: #fd70a1;
}


/* Custom classes */

.title {
    color: white;
    @include transition(0.3s, ease);
}
a.title {
	@extend .title;
	cursor: default;
	text-decoration: none;
}
.title-pre {
	font-size: 75px;
	text-align: center;
	text-shadow: 0px 0px 50px rgba(0, 0, 0, 0.6);
	cursor: default;
	margin-top: -175px;
	z-index: 100px;
	text-decoration: none;
    color: rgba(240, 240, 240, 0.6);
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;	
}
.title-pre:hover {
	text-shadow: 0px 0px 50px rgba(100, 100, 100, 0.6);
	color: rgba(240, 240, 240, 1);
}
.title-pre:active {
	text-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
	color: rgba(240, 240, 240, 0.2);
}
.proj-title {
	font-family: Apercu;
	font-size: 26px;
	color: white;
}
.proj-logo {
	margin-bottom: 10px;
	-webkit-filter: drop-shadow(0px 0px 30px rgba(25, 25, 25, 0.32));
	filter: drop-shadow(0px 0px 30px rgba(25, 25, 25, 0.32));
}
.mktext {
    font-family: $bodyFont;
    color: #f1f1f1;
    font-size: 18px;
    line-height: 1.5em;
    text-align: justify;
    @include transition(0.2s, ease-in);
}
.mktag {
	font-family: Apercu;
	font-size: 14px;
	border-radius: 4px;
	border: 1px solid rgba(255, 255, 255, 0.5);
	padding: 3px 6px 3px 6px;
	margin: -2px;
	cursor: default;
	@include noselect();
}
.tag-time {
	@extend .mktag;
	color: rgba(255, 255, 255, 0.7);
	background-color: rgba(255, 255, 255, 0.2);
}
.tag-tech {
	@extend .mktag;
	color: rgba(255, 255, 255, 0.5);
}
.mk-img {
	float: right;
	margin-left: 10px;
	margin-right: 5px;
	display: block;
}
#top-right-logo {
	@extend .mk-img;
	margin-top: -35px;
	margin-right: 8px;
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
}

/* Responsive classes for mobile */

@media only screen and (max-width: 600px) {
    .header {
        @include animation(rubberBand, 0.6s);
    }
    .logo {
        font-size: 18px;
        @include animation(slideInDown, 1s);
    }
    .navlinks {
        margin-top: 2px;
        @include animation(slideInDown, 1s);
    }
    .navlinks > a {
        border-width: 1px;
        padding: 4px 8px 4px 8px;
        font-size: 14px;
        min-width: 50px;
    }
    .navlinks > a.right {
        border-width: 1px;
    }
    .mkcontainer {
	    top: 65px;
    }
    .pre-hello {
	    height: 90vh;
    }
    .pre {
		font-size: 60px;
		text-shadow: 0px 0px 40px #161616;
		background-attachment: scroll;
		background-position: 50% 0%;
		@include animation(rubberBand, 0.2s);
    }
    .mktext {
        font-size: 19px;
    }
    #top-right-logo {
    	margin-top: -31px;
		margin-right: 5px;
    }
}