/* Variables */

@import url(http://fonts.googleapis.com/css?family=Inconsolata);
@import url(http://fonts.googleapis.com/css?family=Pacifico&text=hi!);

$bodyFont: Karla;
$contentPad: 32px;

/* Mixins */

@mixin animation($name, $time) {
    -webkit-animation: $name $time;
    animation: $name $time;
}

@mixin transition($time, $ease) {
    -webkit-transition: all $time $ease;
    transition: all $time $ease;
}

/* Fonts */

@font-face {
    font-family: "Nitti Grotesk";
    src: url(fonts/nittigrotesk-normal.otf) format('opentype');
}

@font-face {
    font-family: "Nitti Grotesk Bold";
    src: url(fonts/nittigrotesk-bold.otf) format('opentype');
}

@font-face {
    font-family: "Apercu";
    src: url(fonts/apercu_mono_pro.ttf) format('truetype');
}

/* HTML elements */

body {
    background-color: #fdfdfd;
    //overflow-x: hidden;
}

::selection {
    background-color: #384dd8;
    color: #8a94d3;
}

hr {
    border: none;
    height: 1px;
    background: -webkit-linear-gradient(left, #ffffff 0%, #d9d9d9 5%, #bcbcbc 50%, #d8d8d8 95%, #ffffff 100%);
}

/* Header */

.header {
    position: fixed;
    width: 100%;
    height: auto;
    padding: 1px 0px 8px 0px;
    z-index: 0;
    text-align: center;
    box-shadow: none;
    border-radius: 1px;
    @include animation(fadeInDown, 0.5s);
    @include transition(0.3s, ease-out);
    -webkit-user-select: none;
}

.logo {
    font-family: Nitti Grotesk, sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
}

.navlinks {
    display: inline-block;
    margin-top: 3px;
    font-family: Apercu, sans-serif;
    font-size: 16px;
    @include animation(slideInDown, 1s);
}

.navlinks > a {
    display: inline-block;
    min-width: 105px;
    padding: 4px;
    margin-right: -10px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    color: black;
    text-decoration: none;
    cursor: default;
    @include transition(0.2s, ease-out);
}

.navlinks > a.left {
    border-radius: 4px 0px 0px 4px;
}

.navlinks > a.right {
    border-radius: 0px 4px 4px 0px;
    border-right: 2px solid black;
    margin-right: 10px;
}

.navlinks > a:hover {
    color: #ffffff;
    background-color: black;
    @include transition(0.2s, ease);
}

.navlinks > a:active {
    color: #9b9b9b;
    background-color: #353535;
    @include transition(0.2s, ease-in);
}

/* Containers */

.container-fluid {
    padding: 0px;
}
.row {
    margin-left: 0;
    margin-right: 0;
}

.mkcontainer {
    top: 75px;
    position: relative;
    border-radius: 1px;
    @include animation(fadeIn, 0.2s);
    //@include transition(0.2s, ease);
}
.contentcontainer {
	position: relative;
	border-radius: 1px;
    box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.4);
}
.pre {
	text-align: center;
	font-family: Nitti Grotesk Bold, sans-serif;
	font-size: 100px;
	text-shadow: 0px 0px 50px rgba(0, 0, 0, 0.6);
	height: 50vh;
	line-height: 50vh;
	background-size: cover;
	background-attachment: fixed;
}
.pre-hello {
	-webkit-filter: brightness(20%);
	height: 95vh;
	//line-height: 95vh;
	font-family: Pacifico;
	background-image:url(images/fog.jpg);	
}
.title2 {
	cursor: default;
	text-decoration: none;
    color: rgba(240, 240, 240, 0.87);
	-webkit-animation-iteration-count: infinite;	
	margin-top: -150px;
}
.title2:hover {
	color: rgba(240, 240, 240, 1);
}
.title2:active {
	color: rgba(240, 240, 240, 0.2);
}
.downindicator {
	font-size: 75px;
	text-align: center;
	text-shadow: 0px 0px 50px rgba(0, 0, 0, 0.6);
    @include transition(0.3s, ease);
}
.pre-proj {
	background-image:url(images/isolatedrain.jpg);	
}
.proj-container {
	@extend .contentcontainer;
    padding: 10px $contentPad $contentPad $contentPad;
    background-color: cadetblue;
}
.pre-design {
	background-image:url(images/rain.jpg);	
}
.design-container {
	@extend .contentcontainer;
    padding: $contentPad;
    background-color: steelblue;

}
.pre-abt {
	background-image:url(images/meteor.jpg);	
}
.abt-container {
	@extend .contentcontainer;
    padding: $contentPad;
    background-color: darkmagenta;
}

/* Custom classes */

.title {
    text-decoration: none;
    color: white;
    @include transition(0.3s, ease);
}

a.title {
	@extend .title;
	text-decoration: none;
}

.mktext {
    font-family: $bodyFont;
    color: white;
    font-size: 18px;
    line-height: 1.5em;
    text-align: justify;
    @include transition(0.2s, ease-in);
}

/* Responsive classes for mobile */

@media(max-width: 600px) {
    .header {
        @include animation(rubberBand, 0.6s);
    }
    .logo {
        font-size: 18px;
        @include animation(slideInDown, 1s);
    }
    .navlinks {
        margin-top: 2px;
        @include animation(slideInDown, 1s);
    }
    .navlinks > a {
        border-width: 1px;
        padding: 4px 8px 4px 8px;
        font-size: 14px;
        min-width: 50px;
    }
    .navlinks > a.right {
        border-width: 1px;
    }
    .mkcontainer {
	    top: 65px;
    }
    .pre-hello {
	    height: 90vh;
	    line-height: 90vh;
    }
    .pre {
		font-size: 60px;
		text-shadow: 0px 0px 40px #161616;
		background-attachment: scroll;
		@include animation(rubberBand, 0.2s);
    }
    .mktext {
        font-size: 19px;
    }
}